.public_h1{
	height: 1.733333rem;
	box-shadow: initial;
	border-bottom: 1px solid #e5e5e5;
}
.public_con{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 1.733333rem;
	padding-top: 0px!important;
	overflow: auto;
	background: #f0f0f0;
}
.public_h1{
	padding-top: 0.666666rem;
}
.public_h1 h1,.public_h1 a{
	font-size: 0.453333rem;
	color: #333333;
}
.gjkj{
	width: 10rem;
	min-height: 11.466666rem;
	height: auto;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 0.1px;
	padding-bottom: 0.4rem;
}
.gjkj_t{
	font-size: 0.4rem;
	color: #333333;
	text-align: center;
	line-height: 0.533333rem;
	margin: 0.533333rem 0 0 0;
}
.gjkj_t i{
	font-style: normal;
	color: #ff4343;
}
.fwt{
	/*width: 9.2rem;*/
	/*width: 8.8rem;*/
	margin: 0 auto;
	height: auto;
}
.fwt img{
	width: 100%;
}
.txt_box{
	width: 10rem;
	min-height: 12rem;
	height: auto;
	background: #fff;
	margin-top: 0.266666rem;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 1.066666rem;
}
.txt_tt{
	height: 1.866666rem;
	line-height: 1.866666rem;
	font-size: 0.4rem;
	color: #333333;
	text-align: center;
}
.hxtxt{
	width: 9.2rem;
	margin: 0 auto 0;
	height: 10.666666rem;
}
.gj_tjt{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 7.066666rem;
	height: 10.666666rem;
	border-left: 1px solid #e5e5e5;
	margin-left: 2.133333rem;
}
.zzt{
	position: relative;
	width: 7.066666rem;
	height: 0.933333rem;
}
.zzt span{
	display: inline-block;
	font-size: 0.32rem;
}
.le_ft{
	position: absolute;
	top: 0;
	left: -2.133333rem;
	width: 2.133333rem;
	height: 0.933333rem;
	line-height: 0.933333rem;
	text-align: right;
	padding-right: 0.133333rem;
	color: #666666;
}
.con_t{
	width: 100%;
	height: 0.933333rem;
	line-height: 0.933333rem;
	text-align: center!important;
	color: #fff;
}
.pro{
	position: absolute;
	left: 0;
	height: 100%;
}
