.public_h1{
	height: 1.733333rem;
	box-shadow: initial;
	border-bottom: 1px solid #e5e5e5;
}
.public_h1{
	padding-top: 0.666666rem;
}
.public_h1 h1,.public_h1 a{
	font-size: 0.453333rem;
	color: #333333;
}
.public_con{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 1.733333rem;
	padding-top: 0px!important;
	overflow: auto;
	background-color: #FFFFFF;
}
.diqiu{margin-top: 1.786666rem;height: 3.84rem;display: flex;justify-content: center;}
.diwiuing{background: url(../img/diqiular.png) no-repeat;background-size: auto 100%;height: 100%;width: 3.84rem;}
.laingjei{margin-top: 0.613333rem;height: 0.4rem;font-size: 0.4rem;color: #666666;text-align: center;}
.jianchishouji{height: 0.933333rem;line-height: 0.933333rem;font-size: 0.346666rem;color: #999999;text-align: center;}
.chongxin{height: 0.826666rem;line-height: 0.826666rem;display: flex;justify-content: center;}
.jiacai{border: 1px solid #999999;border-radius:0.066666rem;width: 2.333333rem;font-size: 0.373333rem;color: #666666;text-align: center;}
