body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f0f0f0;
}
.save{
	position: absolute;
    right: 0;
    height: 44px;
    line-height: 44px;
	font-size: 0.453333rem;
	color: #666666;
	padding-right: 0.4rem;
}
.wd-header{
	height: 1.733333rem;
	background: #2b70d8;
	padding-top: 0.533333rem;
	box-shadow: initial;
}
.wd-header a{
	color: #fff!important;
}
.wd-header h1{
	font-size: 0.453333rem;
	color: #FFF!important;
}
.inp{
	position: relative;
	display: flex;
	align-items: center;
	width: 8.866666rem;
	height: 1.666666rem;
	margin: 0 auto 0;
}
.inp span{
	display: inline-block;
	height: 0.666666rem;
	line-height: 0.666666rem;
}
.inp input{
	border: none;
	margin-bottom: 0;
	font-size: 0.4rem;
	padding-left: 0;
	padding-right: 2.933333rem;
}
.inp:after{
	content: "";
	display: block;	
	width: 8.866666rem;
	height: 1px;
	position: absolute;
	bottom: 1px;
	left: 0;
	background: #dcdcdc;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
	top: 0.533333rem!important;
	right: 2.133333rem!important;
}
.content{
	position: absolute;
	top: 1.733333rem;
	left:0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding-top: 0.533333rem!important;
}
.ycmm{
	width: 0.48rem;
	height: 0.213333rem;
	background: url(../img/ycmm.png) no-repeat center;
	background-size: 100% auto;
}
.ycmm1{
	width: 0.48rem;
	height: 0.213333rem;
	background: url(../img/xsmm_ion.png) no-repeat center;
	background-size: 100% auto;
}
.btn_box{
	width: 8.8rem;
	height: 1.2rem;
	margin: 1.333333rem auto 0;
}
.btn,.btn1{
	border: none;
	outline: none;
	width: 8.8rem;
	height: 1.2rem;
	border-radius: 0.106666rem;
	background: #d2d2d2;
	font-size: 0.4rem;
	color: #fefefe;
}
.hqyzm{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -0.333333rem;
	font-size: 0.4rem;
	color: #c8c8c8;
}
.wj_btn{
	margin-top: 4.266666rem;
}
.tip_b{
	overflow: initial;
	margin-top: 0.133333rem;
}
.err_tip{
	position: absolute;
	left: 0;
	bottom: -0.8rem;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.346666rem;
	color: #f36969;
	z-index: 999;
	text-align: left;
}
.tip_color{
	color: green;
}
