.public_h1{
	height: 1.733333rem;
	box-shadow: initial;
	border-bottom: 1px solid #e5e5e5;
}
.public_h1{
	padding-top: 0.666666rem;
}
.public_h1 h1,.public_h1 a{
	font-size: 0.453333rem;
	color: #333333;
}
.public_con{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 1.733333rem;
	padding-top: 0px!important;
	overflow: auto;
	background: #fff;
}
.bottomeneir{display: flex;justify-content: space-between;height: 1.426666rem;width:10rem;position: absolute;bottom: 0px;}
.gongsswer{position: absolute;left: 0;right: 0;top: 0;bottom: 1.426666rem;overflow: auto;}
.gongsswerbgimg{height:57.5rem;background: url(../img/gongShangZhuCe.png) no-repeat;background-size: 100% auto;}
.bodadianhua{width: 50%;display: flex;height: 100%;align-items: center;justify-content: center;font-size: 0.4rem;background-color: #333333;}
.woyaochuce{width: 50%;display: flex;height: 100%;align-items: center;justify-content: center;font-size: 0.4rem;color: #fefefe;background-color: #ffba26;}
.bodadianhua a{color: #fefefe;}
