.lp_bg{
	background: #fff;
	height: auto;
	padding-top: 0.133333rem;
}
.lp_xx{
	background: #fff;
	margin-bottom: 0.266666rem;
	padding-top: 0.1px;
}
.lp_wz{
	display: flex;
	justify-content: flex-start;
	padding: 0 0.4rem;
	margin-top: 0.266666rem;
}
.wz_ion{
	display: inline-block;
	width: 0.6rem;
	height: 0.626666rem;
	border: 1px solid #000;
}
.wz_text{
	font-size: 0.346666rem;
	color: #676767;
}
.lp_nav{
	display: flex;
	align-items: center;
}
.lp_nav li{
	position: relative;
	width: 50%;
	height: 1.333333rem;
	line-height: 1.333333rem;
	font-size: 0.373333rem;
	color: #0b0b0b;
	text-align: center;
}
.lp_nav li i{
	font-style: normal;
	color: #ef0938;
}
.lp_nav li:first-child:after{
	content: "";
	display: block;
	width: 0.04rem;
	height: 0.533333rem;
	background: #c7c7c7;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -0.266666rem;
}
.n_n{
	font-size: 0.32rem;
	color: #0d0d0d;
}
.m_m{
	font-size: 0.32rem;
	color: #5f5f5f;
}
.scmenu{
	display: flex;
	background: #fff;
	margin-top: 0.266666rem;
}
.scmenu li{
	width: 33.333%;
	font-size: 0.32rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
}
.active{
	position: relative;
	display: inline-block;
	padding: 0 4px;
	color: #2b70d8!important;
}
.active:after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #2b70d8;
}
.qh_q{
	display: none;
	background: #fff;
}
.ss_bt{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.jieshao{
	background: #fff;
	margin-top: 0.266666rem;
}
.lp_nm{
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.346666rem;
	color: #010101;
}
