.qiyehulimg{height: 5.8rem;background: url(../img/qiyehulian.png) no-repeat;background-size: 100% 100%;}
.fyzhuti{}
.qiyehuler{padding-left: 0.4rem;background-color: #ffffff;border-bottom: 1px solid #e5e5e5;}
.huiyuanqyyi{display: flex;height: 1.573333rem;line-height: 1.573333rem;}
.huiyueing{width: 0.586666rem;display: flex;background: url(../img/huityuanicon.png) no-repeat center center;background-size: 100% auto;}
.huiyuanqiyr{margin-left: 0.146666rem;font-size: 0.44rem;color: #333333;}
.xindongfang{height: 4.946666rem;}
.xindongfang ul{overflow-y: hidden;overflow-x: auto;white-space: nowrap;height: 4.4rem;}
.xindongfang ul li{margin-left:8px;margin-top:8px;box-shadow:0px 0px 8px #dedede;width: 5.893333rem;height: 4.053333rem;margin-right: 0.4rem;display: inline-block;}
.qiyehuilianyyi{height: 2.653333rem;display: flex;justify-content: center;align-items: center;}
.qiyehuilianyyi div{width: 2.333333rem;height: 0.946666rem;}
.qiyehuilianyyi div img{width: 100%;height: 100%;}
.qiyehuilianeer{height: 0.573333rem;padding-left: 0.333333rem;color: #666666;font-size: 0.333333rem;}
.qiyehuilianssan{display: flex;}
.qiyehuilianssanicon{width: 0.413333rem;height:0.413333rem;display: flex;background: url(../img/beijignicon.png) no-repeat;background-size: 100% 100%;margin-left: 0.333333rem;}
.jiaoyv{color: #999999;font-size: 0.32rem;margin-left: 0.2rem;margin-bottom: 0px;}
.badise{height: 0.32rem;border-bottom: 1px solid #e5e5e5;}
.tab{height:1.333333rem;}
.tayequw{display: flex;height: 100%;background-color: #ffffff;}
.qiyefuwu{width:3.6rem;display: flex;align-items:center;height: 100%;font-size: 0.346666rem;padding-left: 0.653333rem;}
.qiyexvqiu{background-color: #ffffff;font-size: 0.346666rem;display: flex;align-items:center;padding-left: 0.733333rem;width: 100%;}
.qiyefuwubg{background: url(../img/tab_bg1.png) no-repeat;background-size: auto 100%;color: #333333;}
.qiyexvqiubg{background: url(../img/tab_bg.png) no-repeat;background-size: 100% 100%;color: #333333;}
.qyxqul{display: none;}
.qyfwul{background-color:#ffffff;}
.qyfwul li{margin-left: 0.4rem;margin-bottom:0.386666rem;width: 9.2rem;height: 3.333333rem;position: relative;box-shadow:0px 0px 8px #dedede;background-color:#ffffff;}
.beijmggj{height: 1.24rem;display:flex;align-items:center;}
.guojilxgs{margin-left: 0.266666rem;width: 0.746666rem;display: flex;height: 0.4rem;background: url(../img/qiyefuwutitle.png) no-repeat;background-size: 100% 100%;}
.lvyouxaigsfont{margin-left: 0.226666rem;width: 4.96rem;font-size: 0.346666rem;color: #333333;}
.xitongruanjian{width:2.613333rem;margin-left: 0.226666rem;font-size: 0.346666rem;color: #333333;}
.ycsahan{display: flex;width:2.4rem;font-size: 0.306666rem;color: #fc6365;justify-content: flex-end;}
.gnlyyw{margin-left: 0.333333rem;height: 0.84rem;width: 5.92rem;font-size: 0.226666rem;color: #666666;}
.lijicx{height: 1.253333rem;width: 5.92rem;margin-left: 0.333333rem;display: flex;align-items: center;}
.lijiztti{border: 1px solid #2b70d8;width: 2.093333rem;display: flex;height: 0.666666rem;line-height: 0.666666rem;justify-content: center;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;border-top-left-radius: 15px;border-top-right-radius: 15px;font-size: 0.32rem;color: #2b70d8;}
.shijanrq{display:flex;margin-left: 2.186666rem;font-size: 0.226666rem;color: #999999;}
.lijicximg{width: 2.773333rem;height: 3.226666rem;position: absolute;top: -0.16rem;right: -0.213333rem;background: url(../img/lijicx.png) no-repeat;background-size: 100% 100%;box-shadow:0px 0px 18px #dedede;}
.boottms{height: 0.893333rem;background-color: #ffffff;}
.kognjde{height: 0.386666rem;background-color: #ffffff;}
.qyfwul li:last-child{margin-bottom:0px;}
.hechhez{background-color:#f6f6f6 !important;}
.guojilxgshuise{margin-left: 0.266666rem;width: 0.746666rem;display: flex;height: 0.4rem;background: url(../img/qiyefuwutitle.png) no-repeat;background-size: 100% 100%;}
.xitongruanjianhuise{width:2.613333rem;margin-left: 0.226666rem;font-size: 0.346666rem;color: #808080;}
.gnlyywhise{margin-left: 0.333333rem;height: 0.84rem;width: 5.92rem;font-size: 0.226666rem;color: #a0a0a0;}
.shijanrqhise{display:flex;margin-left: 4.266666rem;font-size: 0.226666rem;color: #cbcbcb;}
.lijicximghuise{width: 2.773333rem;height: 3.226666rem;position: absolute;top: -0.16rem;right: -0.213333rem;background: url(../img/fajdsfk.png) no-repeat;background-size: 100% 100%;box-shadow:0px 0px 18px #dedede;}
.dacheghezuo{width: 1.946666rem;height: 1.946666rem;position: absolute;top: 0.146666rem;left: 5.333333rem;background: url(../img/dacheghezuo.png) no-repeat;background-size: 100% 100%;}
.qyfwulxuqiuy{display: none;}


