.sserjyemian{display: flex;}
.sousuodeerji{margin-left:0.626666rem !important;width:7.866666rem !important;}
.qvxiao{margin-left: 0.226666rem !important;width: 0.72rem;height:26px;font-size:0.346666rem !important;color: #ffffff;margin-top: 4px;}
.suosinput{height:22px !important;line-height:22px !important;width:6.6rem !important;border: none !important;color: #676767;padding: 0px !important;font-size:0.346666rem;}
.sousuwenzi{position: absolute;top: 3px;left: 40px;}
.mui-icon-clear{line-height: 6px;}
.suouskongb{position: absolute;top:65px;width: 100%;text-align: center;margin-top: 2.706666rem;}
.sskbg{background: url(../img/jxfy_kb.png) no-repeat center;background-size: auto 100%;height:2.08rem;}
.zwsfls{margin-top: 0.533333rem;font-size: 0.4rem;}
.muhusuosuggg{position: absolute;left: 0;right: 0;bottom: 0;top: 0;padding-top: 65px;background-color: #f0f0f0;}
.muhusslipa li{padding-left:0.613333rem;border-bottom: 1px solid #e5e5e5;line-height:1.466666rem;font-size: 0.36rem;}
.muhusslipa{background-color: #ffffff;}
.muhusslipa a{color: #333333;}
.lishissdewezi{}
.lishisuosudiyi{line-height: 1.2rem;padding-left:0.613333rem;display: flex;justify-content: space-between;}
.lishisuosudiyier{font-size: 0.4rem;color: #999999;}
.lishisuosudiyisan{margin-right:0.533333rem;color: #999999;display: flex;justify-content: center;align-items: center;align-content: center;}
.muhusousous{display: none;}
.lslist{display: none;}
.suosukongbaiye{display: block;}
