.bg-color{
	background: orangered;
	padding-top: 0.133333rem;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: orangered;
}
.bg-color-bg{
	background: rgba(233,233,233,0.3);
	padding-top: 0.133333rem;
}
.bg-color1{
	/*我的*/
	height: 5.733333rem;
	box-shadow: initial;
	background: url(../img/wd_bg.png) no-repeat center;
	background-size: 100% 120%;
	padding: 0;
}
.public_h,.public_h1{
	height: 1.733333rem;
}
.public_con{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 1.733333rem;
	padding-top: 0px!important;
	overflow: auto;
}
.public_h1{
	padding-top: 0.666666rem;
}
.public_h1 h1{
	font-size: 0.453333rem;
	color: #fff;
}
.indexss{position: absolute;bottom:0px;z-index: 99999;height:50px;background-color: rgba(0,0,0,.3);width: 100%;}
.idnexdisplay{display: none;}
.idnexdisplayblo{display: block;}
