#slider{
	height: 5.813333rem;
}
.zxsj_box{
	/*最新数据*/
	height: 4rem;
	background: #fff;
}
.tt_box{
	/*头条新闻*/
	height: 1.8rem;
	background: #fff;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	padding-left: 0.4rem;
}
.tt_icon{
	width: 0.88rem;
	height: 1.013333rem;
}
.tt_icon img{
	width: 100%;
}
.tt_news{
	height: 1.013333rem;
	flex: 1;
	margin-left: 0.6rem;
	overflow: hidden;
	padding-top: 0.026666rem;
}
.tt_news li{
	height: 1.013333rem;
}
.tt_news li p:first-child{
	font-size: 0.346666rem;
	color: #000;
}
.tt_news li p:last-child{
	font-size: 0.293333rem;
	color: #999999;
}
.tt_news li p{
	overflow: hidden;
    white-space: nowrap;
}
.rmfy_box{
	/*热门房源*/
	background: #ffffff;
	padding-bottom: 0.533333rem;
}
.tit{
	position: relative;
	width: 100%;
	height: 1.533333rem;
	line-height: 1.533333rem;
	font-size: 0.453333rem;
	padding-left: 0.666666rem;
}
.tit::before{
	position: absolute;
	top: 50%;
	/*left: 0.266666rem;*/
	left: 0.4rem;
	margin-top: -0.186666rem;
	content: "";
	display: block;
	width: 0.066666rem;
	height: 0.373333rem;
	background: #2b70d8;
}
.tab_box{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 1.466666rem;
	background: #fff;
}
.tab_box p{
	width: 3.266666rem;
	height: 0.773333rem;
	line-height: 0.773333rem;
	background: #2b70d8;
	border-radius: 0.066666rem;
	text-align: center;
	color: #fff;
}
.grab{
	list-style: none;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	padding-bottom: 0.133333rem;
	padding: 0 0.4rem;
}
.grab .img{
	width: 100%;
	overflow: hidden;
}
.grab .img img{
	width: 100%;
}
.grab li{
	width: 4.533333rem;
	height: 2.466666rem;
	display: inline-block;
	margin-left: 0.066666rem;
}
.grab li a{
	height: 100%;
	display: inline-block;
}
.fypics{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 6.3rem;
}
.fypics li{
	position: relative;
	width: 4.466666rem;
	height: 3rem;
	overflow: hidden;
	margin-bottom: 0.266666rem;
}
.fypics li p{
	width: 100%;
	height: 0.533333rem;
	line-height: 0.533333rem;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 0.346666rem;
	padding-left: 0.346666rem;
}
.fypics li img{
	width: 100%;
}
.fypics li:nth-child(odd){
	margin-right: 0.266666rem;
}
.nav_list{
	display: flex;
	display: -webkit-flex;
	height: 3.333333rem;
}
.nav_list li{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	width: 25%;
	height: 3.333333rem;
}
.nav_list .mj{
	width: 1.146666rem;
	height: 1.146666rem;
	margin-bottom: 0.2rem;
}
.nav_list .mj img{
	width: 100%;
}
.meu_txt span{
	width: 100%;
	display: block;
	font-size: 0.346666rem!important;
	text-align: center;
	color: #000;
}
.tab_main{
	position: relative;
	z-index: 1;
	height: 1.333333rem;
	background: #f0f0f0;
}
.tab_nav{
	height: 0.133333rem;
}
.tab_nav span{
	width: 2.7rem;
	display: inline-block;
	line-height: 1.333333rem;
	font-size: 0.373333rem;
	color: #666666;
	/*border: 1px solid red;*/
	text-align: center;
	box-sizing: border-box;
}
.box_q{
	display: none;
	background: #fff;
}
.sp_ac{
	background: url(../img/tab_bg1.png) no-repeat left center;
	background-size: 100% 100%;
	color: #000!important;
}
.sp_ac1{
	background: url(../img/tab_bg.png) no-repeat left center;
	background-size: 100% auto;
	color: #000!important;
}
.yzwt_pic{
	position: relative;
	width: 10rem;
	height: 3.36rem;
}
.yzwt_pic img{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.yzwt_tip{
	font-size: 0.346666rem;
	color: #999;
	text-align: center;
	line-height: 1.133333rem;
}
.mui-input-group:after,.mui-input-group:before{
	background: none;
}
.mui-input-group input, .mui-input-group textarea{
	font-size: 0.373333rem;
}
.mui-input-group textarea{
	color: #c8c8c8;
}
.btn_box{
	position: relative;
	text-align: right;
}
.btn_box .btn{
	width: 1.76rem;
	height: 0.666666rem;
	border-radius: 0.666666rem;
	margin: 0.666666rem 0.4rem 0.466666rem 0;
	padding: 0px 0px 0px 0px;
}
.box_q .hqyzm{
	position: absolute;
	right: 0.6rem;
	margin-top: -0.75rem;
	font-size: 0.373333rem;
	color: #c8c8c8;
}
.tjfy{
	min-height: 7.666666rem;
	height: auto;
	background: #fff;
	margin-top: 0.266666rem;
}
.fy_list{
	padding-left: 0.4rem;
}
.fy_list .zx{
	height: 1px;
	background: #e5e5e5;
	margin-bottom: 0.533333rem;
}
.fy_list li{
	display: flex;
	height: 2.666666rem;
}
.fy_pic{
	width: 2.96rem;
	height: 1.973333rem;
	overflow: hidden;
}
.fy_pic img{
	width: 100%;
}
.fy_xx{
	width: 4.8rem;
	margin-left: 0.6rem;
}
.fy_xx .lp{
	font-size: 0.426666rem;
	color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fy_xx .mjwz{
	font-size: 0.32rem;
	color: #999;
}
.fy_xx .jzjf{
    min-width: 1.4rem;
	/*padding: 0.026666rem 0;*/
	font-size: 0.32rem;
	color: #2b70d8;
	text-align: center;
	background: #daeefd;
	border-radius: 0.053333rem;
    display: inline-block;
    padding: 0 0.133333rem;
}
.fy_xx .dj{
	font-size: 0.426666rem;
	color: #f4513e;
}
.fy_xx .dj i{
	font-style: normal;
	font-size: 0.32rem;
}
.fy_xx .dj s{
	margin-right: 0.4rem;
	color: #c8c8c8;
}
.ystt_box{
	/*幼师头条*/
	background: #fff;
	margin-top: 0.266666rem;
	height: 4.266666rem;
}
.shouhou{
	position: fixed;
	z-index: 99999;
	width: 2.4rem;
	height: 0.8rem;
	top: 12.866666rem;
	margin-top: -0.4rem;
	right: 0;
	background: #fc7b1f;
	display: flex;
	align-items: center;
	border-top-left-radius: 0.8rem;
	border-bottom-left-radius: 0.8rem;
	font-size: 0.346666rem;
	color: #fff;
}
.sy_shion{
	display: inline-block;
	width: 0.466666rem;
	height: 0.466666rem;
	background: url(../img/sy_bxion.png)no-repeat center;
	background-size: 100% auto;
	margin: 0 0.16rem;
}
.sy_kfion p{
	position: fixed;
	z-index: 99999;
	right: 0;
	top: 10.933333rem;
	width: 1.12rem;
	height: 1.12rem;
	background: url(../img/sy_kfion.png)no-repeat center;
	background-size: 100% auto;
}
.sy_kfion p a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
