body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f0f0f0;
}
.save{
	position: absolute;
    right: 0;
    height: 44px;
    line-height: 44px;
	font-size: 0.453333rem;
	color: #666666;
	padding-right: 0.4rem;
}
.wd-header{
	height: 1.733333rem;
	background: #2b70d8;
	padding-top: 0.533333rem;
	box-shadow: initial;
}
.wd-header a{
	color: #666666;
}
.wd-header h1{
	font-size: 0.453333rem;
	color: #333333;
}