.fw_main{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.fw_banner{
	width: 10rem;
	height: 6.466666rem;
	background: #fff;
}
.fw_banner img{
	width: 100%;
	height: auto;
}
.fw_ion{
	width: 1.133333rem;
	height: 1.133333rem;
}
.fw_ion img{
	width: 100%;
	height: auto;
}
.fw_name{
	font-size: 0.346666rem;
	color: #333333;
	margin-top: 0.2rem;
}
.fw{
	display: flex;
}
.fw li{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}
